<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Wesh t'as pas d'entreprise, va sur <a href="https://www.pole-emploi.fr/accueil/">pôle emploi</a> (ou alors créée en une : <a href="{{ path('company_new')}}"> ICI</a> ).

</body>
</html>
